<header class="container">
  <div class="jumbotron">
    <h1>TODO LIST APP!</h1>
    <p>Have you every forgot to do a task during the day? Well you will no more have to memorize it because with this APP now you can just add it to the TODO LIST and that is it. Easy right!</p>
    <p>Well, what are you waiting for start doing your list :)
      <p>
        <p><a class="btn btn-primary btn-lg" [routerLink]="['todos']" role="button">Go to TODOS LIST</a></p>
  </div><!-- .jumbotron -->
</header><!-- .container -->
